<div>
    <h3>Lista de Personas</h3>
    <div>
        <input ng-model="$ctrl.query" type="text" placeholder="buscar...">
        <select ng-model="$ctrl.sort">
            <option value="nombre">Ascendente</option>
            <option value="-nombre">Descendente</option>
        </select>
        <ul>
            <li ng-repeat="person in $ctrl.personas | filter:$ctrl.query | orderBy:$ctrl.sort">
                <a href="#!/personas/{{person.nombre | personid}}">
                    <h4>
                        <img ng-src="{{person.nombre | personimg}}" height="40px"/> {{person.nombre}}
                    </h4>
                </a>
            </li>
        </ul>
    </div>
</div>